 <li class="navbar">
        <nav>
            <a class="nav-link" href="#">Layout</a>   
                <ul class="navbar">
                    <li>
                        <a href="#Welcome">- Accueil</a>
                    </li>
                    <li>
                        <a href="#About">- A propos</a>
                    </li>
                    <li>
                        <a href="#ContactUs">- Contacter nous</a>
                    </li>
                </ul>
        </nav>
    </li>
   